
@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Users", "Users", "AdminPanel")</li>
        <li>@Html.ActionLink("Questions", "Questions", "AdminPanel")</li>
    </ul>
</div>